modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 9000

[[ports]]
localPort = 8050
externalPort = 8081

[[ports]]
localPort = 8051
externalPort = 8080

[[ports]]
localPort = 8063
externalPort = 3000

[[ports]]
localPort = 8068
externalPort = 3002

[[ports]]
localPort = 8315
externalPort = 8099

[[ports]]
localPort = 8568
externalPort = 6800

[[ports]]
localPort = 8598
externalPort = 5173

[[ports]]
localPort = 8627
externalPort = 3001

[[ports]]
localPort = 8651
externalPort = 6000

[[ports]]
localPort = 8702
externalPort = 4200

[[ports]]
localPort = 8711
externalPort = 8008

[[ports]]
localPort = 8920
externalPort = 3003

[[ports]]
localPort = 8985
externalPort = 5000

[userenv]

[userenv.shared]
FIREBASE_TOKEN = "1//0cnTGPu0L9P-uCgYIARAAGAwSNgF-L9IrZTt2SPInr0e_HrYUN95GPzsnrwZ-vKKxCTZYb9DFC9Adg6UPfZNNKm9lXJMSWmUGpg"
VITE_FIREBASE_API_KEY = "AIzaSyBD2Zd4qjZCdqf3B2Gd13xjooTicvc-tXY"
VITE_FIREBASE_AUTH_DOMAIN = "truckerapp-system.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "truckerapp-system"
VITE_FIREBASE_STORAGE_BUCKET = "truckerapp-system.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "725898258453"
VITE_FIREBASE_APP_ID = "1:725898258453:web:5a5f0490e7baf3e518061c"
